@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Estefane mais linda do mundo, TE AMO MEU AMOR <br/> GOSTOSA</h1> 
    <img src="../css/Images/criancacoreana.png" />
        
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
